

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {






  .modalButton.left, .modalButton.right,{
    width:90px;
  }

  .modalImage{
    padding: 0 250px;
  }

  .techImg{
    margin: 0 20px;
  }

}
